image: ruby:latest

cache:
  paths:
    - vendor/

stages:
  - scheduled_task

before_script:
  - gem install bundler
  - bundle config set path 'vendor'
  - bundle install

birthday_job:
  stage: scheduled_task
  variables:
    TELEGRAM_TOKEN: $TELEGRAM_TOKEN
    GROUP_ID: $GROUP_ID
  script:
    - bundle exec ruby scripts/daily_birthday.rb
  only:
    - schedules

wealth_report:
  stage: scheduled_task
  variables:
    HOLDINGS_JSON: $HOLDINGS_JSON
    WEALTH_CHAT_ID: $WEALTH_CHAT_ID
    TELEGRAM_WEALTH_TOKEN: $TELEGRAM_WEALTH_TOKEN
  script:
    - bundle exec ruby telegram/money_bot.rb
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: on_success
    - when: never
