<h3>2024 - <span style="font-size: 0.7em;">{{ site.data.trainings | size }} entrainements</span></h3>

<div class="heatmap">
  <div class="heatmap-months">
    <span>Jan</span><span>Fev</span><span>Mar</span><span>Avr</span><span>Mai</span><span>Juin</span><span>Juil</span><span>Aou</span><span>Sep</span><span>Oct</span><span>Nov</span><span>Dec</span>
  </div>
  <div class="heatmap-grid">
    <div class="heatmap-days">
      <span>Lun</span>
      <span>Mar</span>
      <span>Mer</span>
      <span>Jeu</span>
      <span>Ven</span>
      <span>Sam</span>
      <span>Dim</span>
    </div>
    <div class="heatmap-cells">
      {% for training in site.data.crossfits %}
      {% assign day_of_week = training.date | date: "%u" %} <!-- 1 = lundi, 7 = dimanche -->
      {% assign week_of_year = training.date | date: "%V" %} <!-- Numéro de la semaine -->

      <!-- Affiche un carré pour chaque jour -->
      <div class="heatmap-day intensity-{{ training.showup }}" title="{{ training.date }}"
        style="grid-column: {{ week_of_year }}; grid-row: {{ day_of_week }};">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
