{% assign training_by_years = site.data.trainings | group_by_exp: "training", "training.date | date: '%Y'" %}

{% for year in training_by_years %}
{% assign showup_trainings = year.items | where: "showup", 1 %}
<h3>{{ year.name }} - <span style="font-size: 0.7em;">{{ showup_trainings | size }} entrainements</span></h3>

<div class="heatmap">
  <div class="heatmap-months">
    <span>Jan</span><span>Fev</span><span>Mar</span><span>Avr</span><span>Mai</span><span>Juin</span><span>Juil</span><span>Aou</span><span>Sep</span><span>Oct</span><span>Nov</span><span>Dec</span>
  </div>
  <div class="heatmap-grid">
    <div class="heatmap-days">
      <span>Lun</span>
      <span>Mar</span>
      <span>Mer</span>
      <span>Jeu</span>
      <span>Ven</span>
      <span>Sam</span>
      <span>Dim</span>
    </div>
    <div class="heatmap-cells">
      {% for training in year.items %}
      {% assign day_of_week = training.date | date: "%u" %} <!-- 1 = lundi, 7 = dimanche -->
      {% assign week_of_year = training.date | date: "%V" %} <!-- Numéro de la semaine -->

      <!-- Affiche un carré pour chaque jour -->
      <div class="heatmap-day intensity-{{ training.showup }}" title="{{ training.date }}"
        style="grid-column: {{ week_of_year }}; grid-row: {{ day_of_week }};">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
