.darkmode {
  background-color: var(--foreground);
  color: var(--background);
  --clr-darkmode: var(--clr-link);
  --clr-code: var(--clr-code-dark);
}

.darkmode-moon svg {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
