---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <p>
    Starting <b>September 1st 2019</b> I committed to read 1 book each month. Here is my progress so far:
  </p>

  <h2>Ongoing 📖</h2>
    {% for book in site.data.books %}
      {% if book.finished == false %}
        <div class="book-container">
          <div class="book-item">
            <span class="fs-20">→ </span><a href="{{ book.url }}">{{ book.title }}</a> <span class="book-by-author">  by {{ book.author }} {% if book.started_at != nil %} ({{ book.started_at | date_to_string: "ordinal", "US" }}) {% endif %}</span>
            <p class="book-comment">{{ book.comment }}</p>
          </div>
          <div class="book-item-cover">
            <a class="book-cover-link" href="{{ book.url }}">
              <img class="book-cover lazy" src="/assets/images/covers/book-placeholder.png" data-srcset="/assets/images/covers/{{ book.title | slugify }}.jpg" alt="Cover {{ book.title }}">
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  <h2>Done 📚</h2>
  {% for book in site.data.books %}
    {% if book.finished == true %}
      <div class="book-container">
        <div class="book-item">
          <span class="fs-20">→ </span><a href="{{ book.url }}">{{ book.title }}</a> <span class="book-by-author">  by {{ book.author }} ({{ book.started_at | date_to_string: "ordinal", "US" }})</span>
          <p class="book-comment">{{ book.comment }}</p>
        </div>
        <a class="book-cover-link" href="{{ book.url }}">
          <img class="book-cover lazy" src="/assets/images/covers/book-placeholder.png" data-srcset="/assets/images/covers/{{ book.title | slugify }}.jpg" alt="Cover {{ book.title }}">
        </a>
      </div>
    {% endif %}
  {% endfor %}

  <br/>

  <p class="book-footer">
    This is a reading page, inspired by <a href="https://hashref.com/reading">Xavier Noria</a>.
  </p>

</article>