---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <p>
    Depuis le <b>1er Septembre 2019</b>, j'ai commencé à lire 1 livre par
    mois.
  </p>

  <h2>En cours 📖</h2>
  {% for book in site.data.books %} {% if book.finished == false %}
  <div class="book-container">
    <div class="book-item">
      <span class="fs-20">→ </span><a href="{{ book.url }}">{{ book.title }}</a>
      <span class="book-by-author">
        de {{ book.author }} {% if book.started_at != nil %} ({{ book.started_at
        | date: "%Y-%m-%d"}}) {% endif %}</span>
      <p class="book-comment">{{ book.comment }}</p>
    </div>
    <div class="book-item-cover">
      <a class="book-cover-link" href="{{ book.url }}">
        <img class="book-cover lazy" src="/assets/images/covers/book-placeholder.png"
          data-srcset="/assets/images/covers/{{ book.title | slugify }}.jpg" alt="Cover {{ book.title }}" />
      </a>
    </div>
  </div>
  {% endif %} {% endfor %}

  <h2>Finis 📚</h2>
  <div id="finished-books" class="paginated-list">
  {% for book in site.data.books %} {% if book.finished == true %}
  <div class="book-container">
    <div class="book-item">
      <span>
        {% for grade in (1..5) %} {% if grade <= book.grade %} ★ {% else %} ☆ {% endif %} {% endfor %} </span>
          <span class="fs-20">→ </span><a href="{{ book.url }}">{{ book.title }}</a>
          <span class="book-by-author">
            de {{ book.author }} ({{ book.started_at | date: "%Y-%m-%d" }})</span>
          <p class="book-comment">{{ book.comment }}</p>
    </div>
    <a class="book-cover-link" href="{{ book.url }}">
      <img class="book-cover lazy" src="/assets/images/covers/book-placeholder.png"
        data-srcset="/assets/images/covers/{{ book.title | slugify }}.jpg" alt="Cover {{ book.title }}" />
    </a>
  </div>
  {% endif %} {% endfor %}
  </div>
  <nav id="finished-books-pagination" class="pagination" aria-label="Pagination des livres finis"></nav>
</article>
