<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content interface" aria-label="Content">
      <div class="wrapper">
        <div class="container">
          <label class="switch">
            <input type="checkbox" id="dark-mode-toggle" aria-label="toggle dark mode">
            <span class="slider round"></span>
          </label>
        </div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  <script src="/assets/darkmode.js"></script>
  </body>

</html>