<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="{% if page.type != null %}{{ page.type }}{% elsif page.layout == "post" %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{% if page.image != null %}{{ page.image }}{% else %}/assets/images/posts/me.jpg{% endif %}">

  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-180.png">
  <link rel="alternate icon" href="/favicon.ico" sizes="any">

  {% include head.html %}
  {% seo %}
</head>

<body>

  {%- include header.html -%}

  <main class="page-content interface" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <script src="/assets/darkmode.js"></script>
  <script src="/assets/header.js"></script>
  <script src="/assets/lazyload.js"></script>

  <!-- 100% privacy-first analytics -->
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>

</html>
